[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python src/app.py runserver"
init = "python src/app.py db init"
migrate = "python src/app.py db migrate"
upgrade = "python src/app.py db upgrade"
